body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    background: linear-gradient(120deg, #007bff, #d0314c);
    height: 20px;
    overflow: hidden;
 

}

.form {
     position: absolute;
     top: 50%;
     /* padding: 10px; */
     margin:5px;
     left: 50%;
     transform:translate(-50%, -50%);
     width: 29vw;
     background: #fff;
     border-radius: 20px;
     
}

.form h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.form form{
    padding: 0 20px;
    box-sizing: border-box;
}


form .form-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.form-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    
}

.form-field label{
    /* position: absolute; */
    top: 50%;
    color: #0b0a0a;
    left: 50%;
    font: 5px;
    /* color: #adadad; */
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    /* border-bottom: none;*/
    margin-bottom: 100px;

}
button:hover{
    background-color: #007bff;
    color: #fff;
    transition: .5s;
 }