*{
    margin: 0;
    padding: 0;
    background-color: wheat;
    box-sizing: border-box;
}


div{
    background-color: aqua;
}

h1{
color: aliceblue;
text-align: center;
font-size: 40px;
font-weight: 100;

 }